@model FPTBookStore.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input asp-for="BookTitle" class="form-control" />
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                <input asp-for="Available" class="form-control" />
                <a class="btn btn-outline-secondary" id="1" onclick="updateAvailable(1)">+1</a><a class="btn btn-outline-secondary" id="5" onclick="updateAvailable(5)">+5</a><a class="btn btn-outline-secondary" id="10" onclick="updateAvailable(10)">+10</a><a class="btn btn-outline-secondary" id="100" onclick="updateAvailable(100)">+100</a>
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Image link</label>
                <input asp-for="Image" class="form-control" id="image" onchange="updateImage()" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img height="250px" />
                <span class="text-danger"></span>
            </div>
            @*To show preview when edit*@
            <script>
                var preview = document.querySelector("img");
                preview.src = document.getElementById("image").value;
            </script>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*JS to show image when select*@
<script>
    function updateImage() {
        var preview = document.querySelector("img");
        preview.src = document.getElementById("image").value;
    };

    function updateAvailable(number){
        current = parseInt(document.getElementById("Available").value);
        current += number;
        document.getElementById("Available").value = current;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
